html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#app-container {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 24px 360px 40% 5%;
    gap: 0px 0px;
    grid-template-areas:
        "pnl-head pnl-head"
        "pnl-vid pnl-input"
        "pnl-plot pnl-score"
        "pnl-export pnl-export";
}

#pnl-head {
    grid-area: pnl-head;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pnl-vid {
    grid-area: pnl-vid;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pnl-input {
    grid-area: pnl-input;
    display: flex;
    align-items: center;
}

#pnl-score {
    grid-area: pnl-score;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pnl-plot {
    grid-area: pnl-plot;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 360px;
    gap: 0px 0px;
    grid-template-areas:
        "plt-form"
        "plt-canvas";
}

#pnl-export {
    grid-area: pnl-export;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas-plot {
    grid-area: plt-canvas;
}

#form-plot {
    grid-area: plt-form;
}

#canvas-video {
    background-color: grey;
}