html,
body {
    margin: 0;
    padding: 0;
    background-color: rgba(237, 241, 242, 1);
    font-family: 'Roboto', sans-serif;
}

#txt-head {
    background-color: rgba(0, 42, 92, 1);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 64px;
    margin: auto;
    font-size: 22px;
    font-weight: bold;
}

#canvas-video {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #DFDFDF;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

#canvas-plot {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#btn-record {
    background-color: rgba(28, 153, 109, 1);
    color: white;
    width: 50%;
    height: 4vh;
    margin: auto;
    font-size: 22px;
    font-weight: bold;
}

#form {
    font-size: 16px;
}

/* CSS */
button {
    align-items: center;
    border: 1px solid #DFDFDF;
    border-radius: 16px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: center;
    line-height: 28px;
    padding: 14px 22px;
    text-decoration: none;
    transition: all .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
}

button:active,
button:hover {
    outline: 0;
}

button:hover {
    background-color: #FFFFFF;
    border-color: rgba(0, 0, 0, 0.19);
}

@media (min-width: 768px) {
    button {
        font-size: 20px;
        min-width: 200px;
        padding: 14px 16px;
    }
}